<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page.css') }}">
</head>
<header>
    <h1>BLOG</h1>
    <div class="buttons">
        <form action="/">
            <button type="submit">Menu</button>
        </form>
    </div>

</header>
<body>

    <h1>Mon CV</h1>
    <img src="image/pierre_cv.jpg" alt="Mon CV" width="300" height="200">


</body>

<footer>
    <p>&copy; 2024 Blog</p>
</footer>

</html>
