<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>BLOG</h1>
        <div class="buttons">
            <form action="Stage B3">
                <button type="submit">Stage B3</button>
            </form>
        </div>
    </header>

    <footer>
        <p>&copy; 2024 Blog</p>
    </footer>
</body>
</html>
