<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Page.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>BLOG</h1>
        <div class="buttons">
            <form action="/">
                <button type="submit">Menu</button>
            </form>
        </div>

    </header>

    <main>
        <section>
            <h2>Journal de Bord</h2>

            <h3>Semaine 1</h3>

            <h4>Jour 1 (8h-16h)</h4>
            <ul>
                <li>Visite de la caserne de gendarmerie de Judaïque</li>
                <li>Mise en place d’une maquette Figma</li>
                <li><a href="{{ url_for('cahier_des_charges') }}">Creation du cahier des charges</a></li>
            </ul>

            <h4>Jour 2 (8h-16h)</h4>
            <ul>
                <li>Réflexion sur les technologies à utiliser</li>
                <li>Documentation sur ces technologies</li>
            </ul>

            <h4>Jour 3 (8h-16h)</h4>
            <ul>
                <li>Visite de la caserne de gendarmerie de Blaye</li>
                <li>Création de la page Web avec le Drag and Drop</li>
            </ul>

            <h4>Jour 4 (8h-16h)</h4>
            <ul>
                <li>Récupération de Wordlist (RockYou)</li>
                <li>Début de création de la page web avec le Drag and Drop</li>
                <li>Utilisation de Flask</li>
            </ul>

            <h4>Jour 5 (8h-16h)</h4>
            <ul>
                <li>Test du Brute Force</li>
                <li>Implémentation du Brute Force sur le site</li>
                <li>Test complet de la page web (Réussite)</li>
            </ul>

            <h3>Semaine 2</h3>

            <h4>Jour 6 (8h30-16h)</h4>
            <ul>
                <li>Optimisation du Brute Force</li>
                <li>Recherche pour une optimisation supplémentaire (Table arc-en-ciel)</li>
            </ul>

            <h4>Jour 7 (9h-16h)</h4>
            <ul>
                <li>Recherche sur le Brute Force pour Android</li>
                <li>Recherche sur la récupération de l’intégralité des données</li>
            </ul>

            <h4>Jour 8 (8h-16h)</h4>
            <ul>
                <li>Pas de wifi le matin et l’après-midi</li>
            </ul>

            <h4>Jour 9 (8h-16h)</h4>
            <ul>
                <li>Amélioration du script avec reconnaissance de fichier</li>
                <li>Installation de Perl</li>
            </ul>

            <h4>Jour 10 (8h-16h)</h4>
            <ul>
                <li>Tentative d’ajout du PDF (petit échec)</li>
                <li>Refonte du site (Galère)</li>
            </ul>

            <h3>Semaine 3</h3>

            <h4>Jour 11 (8h-16h)</h4>
            <ul>
                <li>Travail à la maison</li>
                <li>Recherches pour le lendemain, car toujours pas de connexion</li>
            </ul>

            <h4>Jour 12 (8h-16h)</h4>
            <ul>
                <li>Pas de connexion</li>
                <li>Travail sur l’ajout du PDF</li>
            </ul>

            <h4>Jour 13 (8h-15h)</h4>
            <ul>
                <li>Réussite de l’ajout du PDF sans John the Ripper (enfin)</li>
                <li>Recherche sur le hash</li>
            </ul>

            <h4>Jour 14 (8h-16h)</h4>
            <ul>
                <li>Passage complet en Python sans John the Ripper</li>
            </ul>

            <h4>Jour 15 (9h-16h)</h4>
            <ul>
                <li>Fin du passage en Python</li>
                <li>Recherche pour mettre sur clé USB</li>
            </ul>

            <h3>Semaine 4</h3>

            <h4>Jour 16 (8h-16h)</h4>
            <ul>
                <li>Recherche pour mettre sur clé USB et pour afficher le hash</li>
            </ul>

            <h4>Jour 17 (8h-16h)</h4>
            <ul>
                <li>Tentative de mettre le script sur la clé (échec)</li>
            </ul>

            <h4>Jour 18 (8h-16h)</h4>
            <ul>
                <li>Toujours sur le travail de la cles </li>
            </ul>

            <h4>Jour 19 (8h-16h)</h4>
            <ul>
                <li>Toujours sur la clé, elle devrait être terminée demain</li>
            </ul>

            <h4>Jour 20 (8h-16h)</h4>
            <ul>
                <li>Fin du travail sur la clé USB</li>
            </ul>

            <h3>Semaine 4 et 5</h3>

            <p>Les deux dernières semaines ont été consacrées à la recherche sur le type de chiffrement.</p>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Blog</p>
    </footer>
</body>
</html>
